<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    
  </head>
  <body>
    <button class="btn btn-success">OK!</button>
    <div class="container" ui-view="main"></div>
  </body>
</html>
